################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MNOWF/FileContentIndex/97876227-bce1-4370-950b-bfef26eb24f3.vsidx
*.vsidx
