################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MNOWF/FileContentIndex/97876227-bce1-4370-950b-bfef26eb24f3.vsidx
*.vsidx
/.vs/MNOWF/CopilotIndices/17.14.878.3237/CodeChunks.db
/.vs
/.vs/MNOWF/CopilotIndices/17.14.878.3237
/.vs/MNOWF/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
/.vs/MNOWF/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
